stages:
    - prepare
    - check

variables:
    APP_ENV: test
    DATABASE_URL: "postgresql://user:password@postgres:5432/shop?serverVersion=16&charset=utf8"
    POSTGRES_DB: shop
    POSTGRES_USER: user
    POSTGRES_PASSWORD: password

default:
    image: php:8.4-fpm-alpine
    tags:
        - runner

.test_env:
    services:
        - name: postgres:16-alpine
          alias: postgres
    before_script:
        - apk add --no-cache libzip rabbitmq-c postgresql-libs openssl
        - mkdir -p config/jwt
        - openssl genrsa -out config/jwt/private.pem -passout pass:7b07f422850ea44fc459ac2b05c2e471c94b73d6cb78e65606eb57dd3fc6a5bd 4096
        - openssl rsa -pubout -in config/jwt/private.pem -out config/jwt/public.pem -passin pass:7b07f422850ea44fc459ac2b05c2e471c94b73d6cb78e65606eb57dd3fc6a5bd
    dependencies:
        - install_deps

install_deps:
    stage: prepare
    before_script:
        - apk add --no-cache git unzip curl libzip-dev rabbitmq-c-dev postgresql-dev autoconf g++ make
        - docker-php-ext-install zip pdo_pgsql
        - pecl install amqp && docker-php-ext-enable amqp

        - curl -sS https://getcomposer.org | php -- --install-dir=/usr/local/bin --filename=composer
    script:
        - composer install --no-progress --no-interaction
    artifacts:
        paths:
            - vendor/
            - /usr/local/lib/php/extensions/
            - /usr/local/etc/php/conf.d/
        expire_in: 1 hour


phpunit:
    extends: .test_env
    stage: check
    script:
        - bin/console doctrine:database:create --if-not-exists
        - bin/console doctrine:schema:update --force
        - vendor/bin/phpunit --testdox

phpstan:
    extends: .test_env
    stage: check
    script:
        - vendor/bin/phpstan analyse

doctrine_schema_verify:
    extends: .test_env
    stage: check
    script:
        - php bin/console doctrine:database:create --if-not-exists
        - php bin/console doctrine:schema:validate
