stages:
    - build
    - prepare
    - check

variables:
    CI_IMAGE: $CI_REGISTRY_IMAGE:latest

build_image:
    stage: build
    image: docker:latest
    services:
        - docker:dind
    tags:
        - runner
    script:
        - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
        - docker build -t $CI_IMAGE .
        - docker push $CI_IMAGE
    only:
        changes:
            - Dockerfile

default:
    image: $CI_REGISTRY_IMAGE:latest
    tags:
        - runner

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - .composer-cache/

install_deps:
    stage: prepare
    script:
        - composer install --no-progress --no-interaction
    artifacts:
        paths:
            - vendor/
        expire_in: 1 hour


phpunit:
    stage: check
    script: bin/phpunit --testdox

phpstan:
    stage: check
    script: vendor/bin/phpstan analyse
