stages:
    - build
    - prepare
    - check

variables:
    CI_IMAGE: $CI_REGISTRY_IMAGE:latest

build_image:
    stage: build
    image: docker:latest
    tags:
        - runner
    script:
        - docker build -t my-local-php-ci:latest .
    only:
        changes:
            - Dockerfile
default:
    image: my-local-php-ci:latest
    tags:
        - runner

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - .composer-cache/

install_deps:
    stage: prepare
    script:
        - composer install --no-progress --no-interaction
    artifacts:
        paths:
            - vendor/
        expire_in: 1 hour


phpunit:
    stage: check
    script: bin/phpunit --testdox

phpstan:
    stage: check
    script: vendor/bin/phpstan analyse
