stages:
    - prepare
    - check

default:
    image: php:8.4-fpm-alpine
    tags:
        - runner

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - vendor/
        - $HOME/.composer/cache

install_deps:
    stage: prepare
    before_script:
        - apk add --no-cache git unzip curl libzip-dev rabbitmq-c-dev autoconf g++ make
        - docker-php-ext-install zip

        - pecl install amqp
        - docker-php-ext-enable amqp

        - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    script:
        - composer install --no-progress --no-interaction
    artifacts:
        paths:
            - vendor/
        expire_in: 1 hour


phpunit:
    stage: check
    script: bin/console/phpunit

phpstan:
    stage: check
    script: vendor/bin/phpstan analyse
