stages:
    - prepare
    - test
    - phpstan

variables:
    APP_ENV: test
    DATABASE_URL: "postgresql://user:password@postgres:5432/shop?serverVersion=16&charset=utf8"
    POSTGRES_DB: shop
    POSTGRES_USER: user
    POSTGRES_PASSWORD: password

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - .composer-cache/

install_deps:
    stage: prepare
    image: php:8.4-fpm-alpine
    tags:
        - runner
    script:
        - apk add --no-cache git unzip curl libzip-dev rabbitmq-c-dev postgresql-dev autoconf g++ make
        - docker-php-ext-install zip pdo_pgsql
        - pecl install amqp && docker-php-ext-enable amqp
        - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
        - COMPOSER_CACHE_DIR=.composer-cache composer install --no-progress --no-interaction
    artifacts:
        paths:
            - vendor/
        expire_in: 1 hour

test:
    stage: test
    image: php:8.4-fpm-alpine
    tags:
        - runner
    services:
        - name: postgres:16-alpine
          alias: postgres
    dependencies:
        - install_deps
    script:
        - apk add --no-cache libzip-dev rabbitmq-c-dev postgresql-dev autoconf g++ make openssl
        - docker-php-ext-install zip pdo_pgsql
        - pecl install amqp && docker-php-ext-enable amqp
        - mkdir -p config/jwt var/cache var/log
        - openssl genrsa -out config/jwt/private.pem 4096
        - openssl rsa -pubout -in config/jwt/private.pem -out config/jwt/public.pem
        - chmod -R 777 var/
        - php bin/console doctrine:database:create --if-not-exists --env=test
        - php bin/console doctrine:schema:update --force --env=test
        - vendor/bin/phpunit --testdox --color tests

phpstan:
    stage: phpstan
    image: php:8.4-fpm-alpine
    tags:
        - runner
    dependencies:
        - install_deps
    script:
        - apk add --no-cache libzip-dev rabbitmq-c-dev postgresql-dev autoconf g++ make
        - docker-php-ext-install zip pdo_pgsql
        - pecl install amqp && docker-php-ext-enable amqp
        - vendor/bin/phpstan analyse
