#https://hub.docker.com/repositories/andrushkakoder
image: andrushkakoder/php8.4-gitlab:latest

stages:
    - prepare
    - test

variables:
    APP_ENV: test
    DATABASE_URL: "postgresql://user:password@postgres:5432/shop?serverVersion=16&charset=utf8"
    POSTGRES_DB: shop
    POSTGRES_USER: user
    POSTGRES_PASSWORD: password

cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - .composer-cache/

composer:
    stage: prepare
    tags: [ runner ]
    script:
        - composer install --no-progress --no-interaction
    artifacts:
        paths: [ vendor/ ]
        expire_in: 1 hour

phpunit:
    stage: test
    tags: [ runner ]
    services:
        -   name: postgres:15-alpine
            alias: postgres
    dependencies: [ composer ]
    script:
        - mkdir -p config/jwt var/cache var/log
        - openssl genrsa -out config/jwt/private.pem 4096
        - openssl rsa -pubout -in config/jwt/private.pem -out config/jwt/public.pem
        - php bin/console doctrine:database:create --if-not-exists
        - php bin/console doctrine:schema:update --force
        - php bin/phpunit --testdox
        - php bin/console doctrine:schema:validate

phpstan:
    stage: test
    tags: [ runner ]
    dependencies: [ composer ]
    script:
        - vendor/bin/phpstan analyse --memory-limit=512MB
