services:
    nginx:
        image: nginx
        container_name: 'nginx'
        working_dir: /app
        ports:
            - '7777:80'
        volumes:
            - ./:/app
            - ./_docker/nginx.conf:/etc/nginx/conf.d/default.conf

    app:
        build: _docker
        container_name: app
        ports:
            - '9000:9000'
        volumes:
            - ./:/app
        working_dir: /app
        depends_on:
            - nginx
            - database

    database:
        image: postgres:15
        ports:
            - '15432:5432'
        container_name: 'database'
        working_dir: /app
        restart: always
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - dump:/app/dump
            - database:/var/lib/postgresql/data

volumes:
    dump:
    database:
